/autom4te.cache/
/autoscan.log
/config.h.in
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/newprg
/newprg.plist/
/gengnu
/Makefile.in
/config.log
/config.status
/configure
/configure.ac
/stamp-h1
/.deps
